/hk2-api-2.5.0-b42.jar
/hk2-locator-2.5.0-b42.jar
/hk2-utils-2.5.0-b42.jar
/javassist-3.22.0-CR2.jar
/javax.annotation-api-1.2.jar
/javax.inject-1.jar
/javax.inject-2.5.0-b42.jar
/javax.json-1.1.jar
/validation-api-1.1.0.Final.jar
/yasson-1.0.jar
/org.osgi.core-4.2.0.jar
/osgi-resource-locator-1.0.1.jar
/persistence-api-1.0.jar
/javax.json-api-1.1.jar
/javax.json.bind-api-1.0.jar
/javax.servlet-api-3.0.1.jar
/jaxb-api-2.2.7.jar
/jboss-interceptors-api_1.1_spec-1.0.0.Beta1.jar
/jsr250-api-1.0.jar
/el-api-2.2.jar
/cdi-api-1.1.jar
