/javax.ws.rs-api-2.1.jar
/jersey-client.jar
/jersey-common.jar
/jersey-container-servlet-core.jar
/jersey-container-servlet.jar
/jersey-hk2.jar
/jersey-media-jaxb.jar
/jersey-media-json-binding.jar
/jersey-media-sse.jar
/jersey-server.jar
